<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.park.dao.PointMapper">
  <resultMap id="BaseResultMap" type="com.park.beans.Point">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="x" jdbcType="REAL" property="x" />
    <result column="y" jdbcType="REAL" property="y" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, x, y
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectListByPoint" parameterType="com.park.beans.Point" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from point
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.park.beans.Point">
    insert into point (id, name, x, y
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{x,jdbcType=REAL}, #{y,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.park.beans.Point">
    insert into point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="x != null">
        x,
      </if>
      <if test="y != null">
        y,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="x != null">
        #{x,jdbcType=REAL},
      </if>
      <if test="y != null">
        #{y,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.park.beans.Point">
    update point
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="x != null">
        x = #{x,jdbcType=REAL},
      </if>
      <if test="y != null">
        y = #{y,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.park.beans.Point">
    update point
    set name = #{name,jdbcType=VARCHAR},
      x = #{x,jdbcType=REAL},
      y = #{y,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>